{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "createDefaultProgram": true
  },
  "env": {
    "browser": true
  },
  "globals": {
    "process": "readonly"
  },
  "plugins": [
    "simple-import-sort",
    "@typescript-eslint",
    "react",
    "react-hooks"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "no-console": "off",
    "react/react-in-jsx-scope": "off",
    "simple-import-sort/imports": ["warn", {
      "groups": [
        ["^(react|react-dom)$"],
        ["^[@a-z]"],
        ["^src/"],
        ["^../"],
        ["^./"]
      ]
    }]
  }
}
